body {
    width:100%;
    margin: 0px;
}


.jumbotron {
 background: url("img/headeralt.png") no-repeat top center fixed;
     -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.push-spaces
{
    height: 400px;
}

.h1Launcher {
    font-family: 'Open Sans', sans-serif;
    color:black
}

.launcherImg {
   max-height: 200px;
}

.abilitiesHeader {
    font-family: 'Open Sans', sans-serif;
    color: #529cb1;
    font-size: 300%;
}

.h3Header {
    font-family: 'Roboto', sans-serif;
     font-size: 150%;
     font-weight: bold;
}

hr.style-two { 
    border: 0; 
    height: 2px; 
    background-image: linear-gradient(to right, rgba(39, 145, 169, 0), rgba(39, 145, 169, 0.75), rgba(0, 0, 0, 0)); 

}


/*Responsive Design Fonts*/
/*Could be cleaner but it gets the job done for now*/
/*For Mobile Phones*/
@media screen and (max-width: 768px) {
    .h1Launcher {
        font-family: 'Roboto', sans-serif;
        font-size: 100%;
    }
    .captions div.D {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
    min-height: auto;
    margin-right:5%;
    }   
    .captions div.E {
     order: 2;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
    min-height: auto;
    margin-right: 3%;

    }
    .captions div.F {
    order: 3;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
    min-height: auto;
    margin-right: 5%;
    }

    .push-spaces
{
    height: 50px;
}


}
/*For filthy casual 1366x768*/
@media screen and (max-width: 1366px) and (min-width 769px) {
    .h1Launcher {
        font-family: 'Roboto', sans-serif;
        font-size: 100%;
    }

        .push-spaces
{
    height: 100px;
}


}
/*Resume Normal CSS again*/
.box {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding-left: 5%;

}

.box div.A {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
    min-height: auto;
}

.box div.B {
    order: 2;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
    min-height: auto;
}

.box div.C {
    order: 3;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
    min-height: auto;
}

.captions {   
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.captions div.D {
        order: 1;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
    min-height: auto;
    padding-left: 1%;

}

.captions div.E {
        order: 2;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
    min-height: auto;
    padding-left: 2%;
}

.captions div.F {
        order: 3;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
    min-height: auto;
    padding-right:4%

}

.launcher:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.49);
    background: rgba(69, 164, 186, 0.80);
}

.abilities {   
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#abilitiesWrapper {
    width:60%;
    margin-left:28%;

}
.skillList {
-moz-column-count: 2;
-webkit-column-count: 2;
-webkit-column-gap: 60px;
column-count: 2;
column-gap: 200%;
list-style-type: none;
font-family: 'Open Sans', sans-serif;
font-size: 100%;
}


.skillList li.tick:before {
  content: "\2713";
  color: green;
  margin-left: -1.5em;
  padding-right: 1%;
  font-weight: bold;
}

.projectWrapper {
    width:80%;
    margin-left:10%;

    text-align: center;
}

.projectImg {

    max-height: 100px;
}

.contact {
    background-color: #454545;
    padding-bottom:100px;
    color: #dddddd;
    word-wrap: break-word;
}



.contactLeft {
    float:left;
    width: 50%;

}

.leftBox {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-content: center;
    align-items: center;
    margin-left: 30%;
    
}

.leftBox div.iconA {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
    min-height: auto;
}

.leftBox div.iconB {
    order: 2;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
    min-height: auto;
    font-size: 140%;
}

.leftBoxA {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-content: center;
    align-items: center;
    margin-left: 39%;
    font-size: 140%;
    
}


.leftIcon {
    width: 30%;
}

.rightBox {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-content: center;
    align-items: center;
    margin-right: 32%;
    font-size: 140%;
    
}

.rightBox div.iconC {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
    min-height: auto;
}

.rightBox div.iconD {
    order: 2;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
    min-height: auto;
}

.rightIcon {
    width: 30%;
}


.contactRight {
    float:right;
    width:50%;
}
.rightBoxA {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-content: center;
    align-items: center;
    margin-right: 25%;
    font-size: 140%;
    
}

footer {
    background-color: #262626;
    padding-top:10px;
    padding-bottom:8px;
}

.h2footer {
    color: #dddddd;
}

.footerInfo {
    margin-left: 1%;
    padding-top:5%;
}

.footer1 {
    color: #dddddd;
}

.footer2 {
    color:#767676
}

.footer3 {
    color:#464646
}